.cadastro-container{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:#f8fafc;
    padding:40px;
}

.cadastro-card{
    width:700px;
    background:white;
    padding:40px;
    border-radius:25px;
    box-shadow:0 20px 40px rgba(0,0,0,.1);
}

.cadastro-card h1{
    text-align:center;
    color:#0E7490;
    margin-bottom:20px;
}

.cadastro-card form{
    display:flex;
    flex-direction:column;
    gap:15px;
}

.cadastro-card input,
.cadastro-card select{
    padding:15px;
    border:1px solid #ddd;
    border-radius:12px;
}

.cadastro-btn{
    background:#10B981;
    color:white;
    border:none;
    padding:15px;
    border-radius:12px;
    font-weight:bold;
    cursor:pointer;
}

.erro{

    color:#e53935;
    
    font-size:13px;
    
    margin-top:4px;
    
    margin-bottom:10px;
    
    font-weight:600;
    
    }

    .erro-geral{

        color:#d32f2f;
        
        font-size:15px;
        
        font-weight:600;
        
        text-align:center;
        
        margin:15px 0;
        
        }